WpfReminder/Service References/WpfReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:31102/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:31102/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SerieDatabase" />
  <xs:element name="GetAllSeries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllSeriesResult" nillable="true" type="q1:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SerieDatabase" minOccurs="0" name="SearchSeriesResult" nillable="true" type="q2:ArrayOfSerieInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Timer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="episode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serie" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TimerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>