WPFReminder/Service References/WPFReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SerieDatabase" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SerieDatabase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSerieInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SerieInfo" nillable="true" type="tns:SerieInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSerieInfo" nillable="true" type="tns:ArrayOfSerieInfo" />
  <xs:complexType name="SerieInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EpisodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Season" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerieInfo" nillable="true" type="tns:SerieInfo" />
</xs:schema>